@model dynamic

@{
    ViewBag.Title = "Hitta lekplatsen";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span12">
        <div id="map-canvas">
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        lorem ipsum
    </div>
</div>
