@model IEnumerable<Lekplatser.Dto.Playground>

@{
    ViewBag.Title = "All playgrounds (" + Model.Count() + ")";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <h2>Playgrounds</h2>
    
    </div>
</div>