@using Lekplatser.Admin
@model IEnumerable<Lekplatser.Dto.Playground>

@{
    ViewBag.Title = "All playgrounds (" + Model.Count() + ")";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <h2>Playgrounds</h2>
                
        <div id="map-canvas">
        </div>
        
        <script>
            $(function() {
                @foreach (var p in Model)
                {                
                    @:addMarker("@p.Id", @p.Location.Lat.ToJsString(), @p.Location.Long.ToJsString(), "@p.Name");               
                }
            });
        </script>

        <h2>New</h2>
            <form action="/Playgrounds/create" method="post">
            
                <label for="Location.Lat">lat</label>
                <input type="text" name="Location.Lat" id="Location.Lat" /><br />
            
                <label for="Location.Long">long</label>
                <input type="text" name="Location.Long" id="Location.Long" /><br />

                <input type="submit" value="create"/>
            </form>
        </div>
</div>