@using Lekplatser.Admin
@model IEnumerable<Lekplatser.Dto.Playground>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";}

<div id="map-canvas">
        </div>
        
        <script>
            $(function() {
                @foreach (var p in Model)
                {                
                    @:addMarker("@p.Id", @p.Location.Lat.ToJsString(), @p.Location.Long.ToJsString(), "@p.Name");               
                }
            });
        </script>