<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet"/>
     <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

      #map-canvas {
          width: 600px;
          height: 400px;
      }

      #map-canvas img {
          max-width: none;
        }
    </style>
    <link href="~/Styles/bootstrap-responsive.min.css" rel="stylesheet"/>

</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">

                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="brand" href="/">Hitta Lekplatser Admin</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li class="active"><a href="/">Home</a></li>
                                    @*<li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>*@
                                    <li><a href="http://www.hittalekplatsen.se">Live</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            @RenderBody()
        </div>
    </body>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</html>
